<div class='container'>
  <div class='row'>
    <div class='col-md-5 col-sm-12'>
      <h1>Editar</h1>
      <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
        <%= render "devise/shared/error_messages", resource: resource %>

        <div class="mb-4">
          <%= f.label :email, class: 'form-label' %><br />
          <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "form-control" %>
        </div>

        <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
          <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
        <% end %>

        <div class="mb-4">
          <%= f.label :name, 'Empresa', class: 'form-label' %><br />
          <%= f.text_field :name, class: 'form-control' %>
        </div>

        <div class="mb-4">
          <%= f.label :description, 'Descrição', class: 'form-label' %><br />
          <%= f.text_area :description, class: 'form-control' %>
        </div>

        <div class="mb-4">
          <%= f.label :password, 'Nova Senha', class: 'form-label' %> <i>(Não altere, se não quiser modificar a senha)</i><br />
          <%= f.password_field :password, autocomplete: "new-password" %>
          <% if @minimum_password_length %>
            <br />
            <em>Mínimo - (<%= @minimum_password_length %>) caracteres</em>
          <% end %>
        </div>

        <div class="mb-4">
          <%= f.label :password_confirmation, 'Confirmar nova senha', class: 'form-label' %><br />
          <%= f.password_field :password_confirmation, autocomplete: "new-password" %>
        </div>

        <div class="mb-4">
          <%= f.label :current_password, 'Senha atual', class: 'form-label' %> <i>(Precisamos da senha atual, para confirmar as mudanças)</i><br />
          <%= f.password_field :current_password, autocomplete: "current-password" %>
        </div>

        <div class="mb-4 mt-5">
          <%= f.submit "Atualizar Dados", class: 'btn btn-danger bg-site-red' %>
        </div>
      <% end %>
    </div>
    <div class='col-md-5 offset-md-1 d-none d-md-block text-center align-self-center'>
        <h2 class='impact-text'>Cancelar a conta</h2>
        <p>Insatisfeito? <%= button_to "Cancelar minha conta", registration_path(resource_name), class: 'btn btn-primary', data: { confirm: "Are you sure?" }, method: :delete %></p>
        <%= link_to "Back", :back, class: 'btn btn-warning' %>
      </div>
  </div>
</div>